$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$green: #33CD99;

@mixin blod_font {
  font-family: "Brandon Grotesque", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing; antilaliased;
}

body {
  padding-top: 4.5em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 3.5rem 0;
}

.wrapper_with_padding {
  width: 80%;
  margin: 0 auto;
  padding: 3.5rem 0;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

button, .button {
  border: none;
  outline: none;
  background-color: $green;
  padding: 1rem 3.5rem;
  border-radius: 2rem;
  a {
    color: white;
    text-decoration: none;
  }
}

.button {
  color: white;
  margin: 2rem 0;
}

a {
  color: $green;
  text-decoration: none;
  &:hover {
    color: $green;
  }
}

header {
  background-color: $dark_gray;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.75rem 0;
  border-bottom: 7px solid $green;
  .header_inner {
    width: 90%;
    margin: 0 auto;
    #logo {
      display: inline-block;
      width: 10rem;
      float: left;
    }
    nav {
      float: right;
      a {
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
        line-height: 1.5;
        margin-left: 1rem;
        &:hover {
          color: $green;
        }
      }
    }
  }
}

footer {
  background-color: $dark_gray;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  color: white;
  @include bold_font;
  p {
    margin: 0;
    font-size: .85rem;
  }
}

input[type="text"], input[type="email"], input[type="password"] {
  height: 40px;
}

textarea {
  min-height: 200px;
}






